/*------------------------------------------------------Media Canvas--------------------------------------------------------*/

@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
    }

    .mobile-gameplay {
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .you-win-img {
        height: 100%;
        width: 100%;
    }

    .you-lost-img {
        object-fit: contain;
        width: 100%;
    }

    .all-game-keys {
        display: flex;
        justify-content: space-between;
    }

    .btn-fullscreen-and-sound {
        display: flex;
        align-self: flex-end;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .mobile-gameplay {
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        display: flex;
    }

    .btn-fullscreen-and-sound {
        bottom: 125px;
    }

    .all-game-keys {
        top: 118px;
    }
}

/*------------------------------------------------------Media Canvas End--------------------------------------------------------*/

/*------------------------------------------------------Game Buttons--------------------------------------------------------*/

@media (max-width:600px) {

    h1 {
        font-size: 80px;
    }

    .story-icon {
        height: 60px;
    }

    .control-button {
        height: 60px;
    }

    .play-button {
        height: 60px;
    }
}

@media (max-height:450px) {

    h1 {
        font-size: 60px;
    }

    .story-icon {
        height: 60px;
    }

    .control-button {
        height: 60px;
    }

    .play-button {
        height: 60px;
    }
}

@media (max-width:400px) {

    h1 {
        font-size: 50px;
    }

    .story-icon {
        height: 40px;
    }

    .control-button {
        height: 40px;
        margin: 0px;
    }

    .play-button {
        height: 40px;
    }
}

@media (max-height:370px) {
    .btn-fullscreen-and-sound {
        bottom: 100px;
    }

    .all-game-keys {
        top: 100px;
    }
}

@media (max-height:320px) {
    .btn-fullscreen-and-sound {
        bottom: 70px;
    }

    .all-game-keys {
        top: 70px;
    }
}

@media (max-width:265px) {

    h1 {
        font-size: 30px;
    }
}

/*------------------------------------------------------Game Buttons End--------------------------------------------------------*/

/*------------------------------------------------------Control Guide--------------------------------------------------------*/

@media (max-width:1050px) {
    .story-div {
        overflow-y: scroll;
    }
}

@media (max-height:850px) {
    .control-section {
        top: 0%;
        height: 50%;
        overflow-y: scroll;
    }

    .story-div {
        overflow-y: scroll;
    }

    .flex-direction-boxes {
        margin-bottom: 15px;
    }

    .control-guide {
        margin-top: -20px;
    }
}

@media (max-height:450px) {
    
    .control-section {
        top: 0 !important;
        height: 95% !important;
        padding-bottom: 0px !important;
    }

    .story-section {
        height: 95%;
    }
}

@media (max-width:700px) {

    .control-section {
        width: 98%;
        height: 60%;
        padding-bottom: 80px;
    }

    .controller-img {
        margin-bottom: 15px;
    }

    .control-guide {
        flex-direction: column;
    }

    .box-right {
        margin-right: 0px;
    }

    .margin-bottum-15 {
        margin-bottom: 12px;
    }

    .story-section {
        width: 90%;
    }
}

@media (max-width:500px) {

    .control-section {
        width: 97%;
    }
}

@media (max-width:420px) {

    .control-section {
        width: 97%;
        overflow-y: scroll;
    }

    .story-div {
        overflow-y: scroll;
    }

    .controller-img {
        height: 100px;
    }

    .flex-direction-boxes {
        flex-direction: column;
    }

    .box-left {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .box-right {
        margin-bottom: 15px;
    }
}

@media (max-width:340px) {

    .control-section {
        width: 95%;
    }
}

/*------------------------------------------------------Control Guide End--------------------------------------------------------*/