@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 120px;
    color: rgb(255, 156, 0);
    letter-spacing: 5px;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
}

p {
    line-height: 0;
    font-size: 45px;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
    z-index: 0;
}

/*------------------------------------------------------free use of Css Classes--------------------------------------------------------*/

.width-100 {
    width: 100%;
}

.you-lost-img {
    margin-top: 50px;
    height: 250px;
}

.padding-right-30 {
    padding-right: 30px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-bottum-15 {
    margin-bottom: 15px;
}

.f-d-column {
    flex-direction: column;
}

.align-items {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.d-flex {
    display: flex;
}

.j-c-center {
    justify-content: center;
}

.a-i-center {
    align-items: center;
}

.d-none {
    display: none
}

.cursor-pointer {
    cursor: pointer;
}

/*------------------------------------------------------free use of Css Classes End--------------------------------------------------------*/

/*------------------------------------------------------templates Win and Lose--------------------------------------------------------*/

.btn-back-to-menu:hover {
    background-color: #eeee6e;
    color: #000000;
    cursor: pointer;
}

.btn-back-to-menu {
    font-family: 'zabras';
    font-size: 40px;
    color: #00000067;
    border-radius: 10px;
    border-color: #edee6e8c;
    background-color: #edee6e8c;
    height: 50px;
    width: 150px;
    position: absolute;
    align-self: baseline;
    margin-top: 10px;
}

.you-win-img {
    height: 250px;
    border-radius: 10px;
    object-fit: contain;
}

.win-screen.is-not-visible {
    display: none;
}

.win-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 260px;
    width: 260px;
    border-radius: 10px;
    background-color: #FA453B;
    border: 10px;
}

.game-over-screen.is-not-visible {
    display: none;
}

.game-over-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 260px;
    width: 260px;
    border-radius: 10px;
    background-color: #FA453B;
    border: 10px;
}

/*------------------------------------------------------templates Win and Lose End--------------------------------------------------------*/

/*------------------------------------------------------Control Section--------------------------------------------------------*/

.control-section {
    flex-direction: column;
    height: 50%;
    max-width: 100%;
    background-color: rgb(168, 115, 59);
    border: solid 5px rgb(255, 221, 147);
    border-radius: 25px;
    position: absolute;
    z-index: 3;
}

.control-guide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.controller-img {
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

.control-box {
    word-wrap: break-word;
    border: solid 5px rgb(255, 221, 147);
    border-radius: 25px;
}

.flex-direction-boxes {
    display: flex;
}

.box-right {
    margin-right: 15px;
}

.box-left {
    margin-right: 15px;
}

.close-icon {
    height: 50px;
    margin: 5px;
}

.close-icon:hover {
    fill: rgb(255, 221, 147);
}

.move-left-icon {
    height: 50px;
    margin-top: 20px;
}

.move-right-icon {
    height: 50px;
    margin-top: 20px;
}

.jump-icon {
    height: 50px;
    margin-top: 20px;
}

.throw-icon {
    height: 50px;
    margin-top: 20px;
}

/*------------------------------------------------------Control Section End--------------------------------------------------------*/